@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  background-image: url(./hydraDesktop.png);
  height: 100%;
  width: 100%;

--gradient-text: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);

  --font-base: "Montserrat", sans-serif;
  /* money money */

  --primary-color: #ecdbf6;
  --secondary-color: #a12cf5;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #48515f;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
